@font-face {
    font-family: Upheaval;
    src: url('../res/upheavtt.ttf');
}
html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}
body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #454545;
}
.navigation {
    margin-left: 33px;
    position: relative;
    z-index: 100;
}
.navigation a {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #454545;
    background: rgba(0, 255, 255, 0.3) !important;
    border: 1px solid black !important;
    font-family: 'Upheaval', Fallback, sans-serif;
    font-size: 13pt;
    margin-left: 10px;
    margin-top: 10px;
}
.navigation a:hover {
    background: #454545;
    color: #fff;
}
.container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.scoreboard-container {
    overflow: auto;
}
.background {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.shrek-bg {
    background: url(../res/shrekShots.png) no-repeat center center fixed;
    background-size:cover;
}
.scoreboard-bg {
    background: url(../res/scoreboard.png) no-repeat center center fixed;
    background-size:cover;
    overflow: auto;
}
.container a {
    color: #454545;
}
.container table {
    font-size: 11px;
    margin-top: 20px;
    width: 40%;
    font-family: 'Upheaval', Fallback, sans-serif;
}
.container table thead td {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 4px 10px;
    font-size: 20pt;
}
.container table tbody td {
    padding: 4px 10px;
    font-size: 14pt;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
.box-table {
    width: 40% !important;
    margin-left: 30%;
}
.box-table td {
    border-bottom: 1px solid black;
}
.container .box {
    border-top: 1px solid black;
    margin: 0 0 0 0;
    text-align: center;
    padding: 0 0 0 0;
}
.scoreboard-title {
    text-align: center;
    width: 100%;
    height: auto;
    font-family: 'Upheaval', Fallback, sans-serif;
    font-size: 36pt;
    margin-top: 2%;
}
.container input {
    background-color: #f5f5f5;
    border: 0;
    padding: 5px 10px;
}
.container input[type="submit"] {
    background-color: #ccc;
    cursor: pointer;
}
.container input[type="submit"]:hover {
    background-color: #222;
    color: #fff;
}
.container button {
    background-color: #ccc;
    border: 0;
    padding: 5px 10px;
    cursor: pointer;
}
.container button:hover {
    background-color: #222;
    color: #fff;
}
.footer {
    border-radius: 3px;
    padding: 20px;
    margin: 33px;
    text-align: right;
    font-size: 11px;
}
.footer a {
    color: #454545;
}
.shrek-start{
    left: 45%;
    top: 94%;
    position: absolute;
    display: block;
    z-index: 10;
    cursor: pointer;
    background: rgba(0, 255, 255, 0.3) !important;
    border: 1px solid black !important;
    width: 10%;
    height: 4%;
    font-family: 'Upheaval', Fallback, sans-serif;
    font-size: 18pt;
}
#player-1 {
    left: 30%;
    top: 94%;
    position: absolute;
    display: block;
    z-index: 10;
    cursor: pointer;
    background: rgba(0, 255, 255, 0.3) !important;
    border: 1px solid black !important;
    width: 10%;
    height: 3%;
    font-family: 'Upheaval', Fallback, sans-serif;
    font-size: 13pt;
    text-align: center;
}
#player-2 {
    left: 60%;
    top: 94%;
    position: absolute;
    display: block;
    z-index: 10;
    cursor: pointer;
    background: rgba(0, 255, 255, 0.3) !important;
    border: 1px solid black !important;
    width: 10%;
    height: 3%;
    font-family: 'Upheaval', Fallback, sans-serif;
    font-size: 13pt;
    text-align: center;
}
.shrekvideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
@media screen and (min-width: 0px) and (max-width: 1920px)
and (min-height: 0px) and (max-height: 929px) {
    .shrekvideo {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
    }
}
@media screen and (min-width: 0px) and (max-width: 1920px)
and (min-height: 930px) and (max-height: 940px) {
    .shrekvideo {
        position: fixed;
        top: -7.6%;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 1000;
        min-width: 100%;
        min-height: 100%;
    }
}
@media screen and (min-width: 0px) and (max-width: 1920px)
and (min-height: 941px) and (max-height: 1080px) {
    .shrekvideo {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
    }
}
@media screen and (min-width: 1921px) and (max-width: 2560px)
and (min-height: 1081px) and (max-height: 1440px) {
    .shrekvideo {
        position: fixed;
        top: -2.4%;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 100;
    }
}
.result-frame {
    display: none;
    width: 60%;
    margin-left: 20%;
    text-align: center;
    font-family: 'Upheaval', Fallback, sans-serif;
    font-size: 66pt;
    position: absolute;
    top: 25%;
    height: 40%;
    z-index: 2000;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
::placeholder {
    color: black;
}
